.date {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    background: rgba(255, 253, 253, 0.568);
    
  }
  .date:hover{
    background: rgba(255, 255, 255, 0.329);
  }
  
  .date__month {
    font-size: 0.8rem;
    font-weight: bold;
  }
  
  
  
  .date__year {
    font-size: 0.70rem;
  }
  
  .date__day {
    font-size: 2rem;
    font-weight: bold;
  }